h1 {
	margin-bottom: 25px;
	text-decoration: underline;
}

p {
	margin-bottom: 30px;
}

#todo {
	margin: 15px 0;
	max-width: 45%;
	margin-left: 310px;
	text-align: center;
}

#remove {
	display: none;
	margin-left: 495px;
}

ul, li {
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
}